[user]
	email = {{ .email | quote }}
	name = Miles Possing
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
	useHttpPath = true
{{   end }}
{{ end }}
[difftool "bc4"]
  
[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.37.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.37.0/bin/gh auth git-credential
