export NU_CONFIG_DIR="$HOME/.config/nushell"
. "$HOME/.cargo/env"

{{- if .jetbrains }}
# Added by Toolbox App
export PATH="$PATH:$HOME/.local/share/JetBrains/Toolbox/scripts"
{{- end }}

. "$HOME/.asdf/asdf.sh"
