#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ 	if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt update
sudo apt install -y build-essential pkg-config libssl-dev cmake zsh neofetch
{{	end }}
{{	if eq .chezmoi.osRelease.id "manjaro" }}
sudo pacman -Syyu
sudo pacman -Syy base-devel pkg-config cmake zsh neofetch
{{	end }}
{{ end }}

# install homebrew on posix systems
{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin"))}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
# TODO: Need to get the ARM mac path in here
# {{ else -}} # ...
{{ end -}}
brew install bitwarden-cli

# We like the linux version of neovim, mac is different
{{ if eq .chezmoi.os "linux" -}}
brew install neovim
{{ end -}}

brew install gcc
brew install fzf
brew install gh


# Check if you are logged in
if bw status | grep -q "unauthenticated"; then
  bw login 
fi
{{ end }}
