#!/bin/bash
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}
brew install bitwarden-cli


{{ if eq .chezmoi.os "linux" -}}
brew install neovim
{{ end -}}

brew install gcc
brew install fzf

# Check if you are logged in
if bw status | grep -q "unauthenticated"; then
  bw login 
fi

