#!/bin/bash

FONT_DIR="$HOME/.local/share/fonts"

wget "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/FiraMono.zip" -O /tmp/Mono.zip
wget "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/FiraCode.zip" -O /tmp/Code.zip
unzip /tmp/Mono.zip -d /tmp/fira
unzip /tmp/Code.zip -d /tmp/fira
mkdir -p "$FONT_DIR"
mv /tmp/fira/*.ttf "$FONT_DIR"
# mv /tmp/fira/*.otf "$FONT_DIR"

fc-cache -f -v

rm -r /tmp/fira*
