#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
{{ 	if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt update
sudo apt upgrade
sudo apt install -y build-essential pkg-config libssl-dev cmake zsh neofetch xdotool xclip direnv
{{	end }}
{{	if eq .chezmoi.osRelease.id "manjaro" }}
sudo pacman -Syyu
sudo pacman -Syy base-devel pkg-config cmake zsh neofetch direnv
{{	end }}
{{ end }}

# install homebrew on posix systems
{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin"))}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}
brew install bitwarden-cli

# We like the linux version of neovim, mac is different
# TODO: Need to get the mac neovim
{{ if eq .chezmoi.os "linux" -}}
brew install neovim
{{ end -}}

# Install emacs
{{ if eq .chezmoi.os "darwin" }}
brew install libgccjit
CC=gcc
brew install emacs-plus@29 --with-native-comp --with-xwidgets --with-no-frame-refocus --with-modern-pen-icon
ln -sf /opt/homebrew/Cellar/emacs-plus@29/29.1/Emacs.app /Applications
{{ end }}

brew install gcc
brew install fzf
brew install gh
brew install lazygit

# Check if you are logged in
if bw status | grep -q "unauthenticated"; then
  bw login 
fi
{{ end }}
