#!/bin/bash

URL="https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/FiraMono.zip"
FONT_DIR="$HOME/.local/share/fonts"

wget $URL -O /tmp/fira.zip
unzip /tmp/fira.zip -d /tmp/fira
mkdir -p "$FONT_DIR"
mv /tmp/fira/*.ttf "$FONT_DIR"
mv /tmp/fira/*.otf "$FONT_DIR"

fc-cache -f -v

rm -r /tmp/fira*
